extends layout

block content

    h1 #{e.title}
    p Time: #{e.startTime} to #{e.endTime}

    a(href='/becomeVolunteer/#{e._id}') Apply to Volunteer

    h4#volunteers This event currently has #{e.volunteerIDs.length} volunteer(s) and needs #{e.volunteerQuota} more
    for vol in e.volunteerIDs
        li #{vol.name}