extends layout

block content
	h1 This is a new event

	h2 #{e.title}
	p Time: #{e.startTime} to #{e.endTime}

	a(href='/becomeVolunteer/#{e._id}') Apply to Volunteer

	h4#volunteers Current Volunteers
	for vol in e.volunteerIDs
		li #{vol.name}