extends layout

block content
	.container
		.col-lg-2.col-md-2.col-sm-2.col-xs-4
			img.img-responsive.img-circle.profile(src="#{user.image}")
		.col-lg-10.col-md-10.col-sm-10.col-xs-6
			h1.red My #{user.role} Dashboard
			h3.red Welcome, #{user.name}!
	.container
		.row
			.bhoechie-tab-container
				.col-lg-2.col-md-2.col-sm-2.col-xs-4.bhoechie-tab-menu
					.list-group
						a.list-group-item.active.text-center(href="#")
							h4
								i.fa.fa-lg.fa-user
							p Profile
						a.list-group-item.text-center(href="#")
							h4
								i.fa.fa-lg.fa-calendar
							p My Events
						a.list-group-item.text-center(href="#")
							h4
								i.fa.fa-lg.fa-users
							p My Volunteers
						a.list-group-item.text-center(href="#")
							h4
								i.fa.fa-lg.fa-plus-square
							p Add New Event
						a.list-group-item.text-center(href="#")
							h4
								i.fa.fa-lg.fa-power-off
							p Log Out				
				.col-lg-10.col-md-10.col-sm-10.col-xs-8.bhoechie-tab
					//- PROFILE
					.bhoechie-tab-content.active
						center
							img.profile.img-responsive.img-circle(src="#{user.image}" width="30%")
							h4
								i.fa.fa-2x.fa-user
							h4.paddingbottom #{user.name}
							p.heading About Me
							p #{user.bio}
							p.heading Location
							p #{user.location}
							p.heading Email Address
							p #{user.email}
							p.heading Mobile Phone
							p #{user.mobile}
					//- MY EVENTS
					.bhoechie-tab-content
						center
							h4
								i.fa.fa-2x.fa-calendar
							h4.paddingbottom My Events
							for ev in events
								ul.event-list
									li
										time.datetime
											span.day #{ev.date}
										img.img-responsive(src='#{ev.image}')
										.info
											a(href='/viewEvent/#{ev._id}')
												h2.title #{ev.title}
											p.desc
												span.yellowbg Volunteer Start Time:
												| #{ev.volunteerTime}
											p.desc
												span.yellowbg Event Time: 
												| #{ev.startTime} to #{ev.endTime}
					//- MY VOLUNTEERS
					.bhoechie-tab-content
						center
							h4
								i.fa.fa-2x.fa-users
							h4.paddingbottom My Volunteers
							.row
								.col-lg-3.col-md-3.col-sm-4.col-xs-10
									.form-group
										input.form-control.light-table-filter.right(type='search' data-table='order-table' placeholder='Search')
							.row
								.table-container
									table.responsive-table.order-table
										thead
											tr
												th(scope='col') Event
												th(scope='col') Volunteer Name
												th(scope='col') Location
												th(scope='col') Email
												th(scope='col') Mobile
										for ev in events
											for vol in ev.volunteerIDs
												tbody
													tr
														th(scope='row')
															a(href='/viewEvent/#{ev._id}')
																| #{ev.title}
														td(data-title='Volunteer Name') #{vol.name}
														td(data-title='Location') #{vol.location}
														td(data-title='Email') #{vol.email}
														td(data-title='Mobile') #{vol.mobile}
						//- ADD NEW EVENT
					.bhoechie-tab-content
						.center.sixty
							h4
								i.fa.fa-2x.fa-plus-square
							h4.paddingbottom Add New Event
							form(action='/addNewEvent' method='post')
								.form-group
									label.control-label
										| Event Title:
									input.form-control(type="text" name='title' placeholder='Event title')
								.form-group
									label.control-label
										| Event Date:
									input.form-control(type="text" name='date' placeholder='Date')
								.form-group
									label.control-label
										| Start Time:
									input.form-control(type="text" name='startTime' placeholder='Start time')
								.form-group
									label.control-label
										| End Time:
									input.form-control(type="text" name='endTime' placeholder='End time')
								.form-group
									label.control-label
										| Event Website:
									input.form-control(type="text" name='url' placeholder='http://www.myevent.com/')
								.form-group
									label.control-label
										| Link to Event Image:
									input.form-control(type="text" name='image' placeholder='Link to event image')
								.form-group
									label.control-label
										| Venue Name:
									input.form-control(type="text" name='location' placeholder='Venue Name')
								.form-group
									label.control-label
										| Venue Address:
									input.form-control(type="text" name='locationAddress' placeholder='Location of the event')
								.form-group
									label.control-label
										| How many volunteers will you need?
									select(name='volunteerQuota' type='number')
										option.form-control(name='volunteerQuota' value='10') 10
										option.form-control(name='volunteerQuota' value='20') 20
										option.form-control(name='volunteerQuota' value='30') 30
										option.form-control(name='volunteerQuota' value='40') 40
										option.form-control(name='volunteerQuota' value='50') 50
								.form-group
									label.control-label
										| What time do you need volunteers to arrive at this event?
									input.form-control(type="text" name='volunteerTime' placeholder='Start time for volunteers')
								.form-group
									label.control-label
										| What perks are you offering your volunteers?
									input.form-control(type="textarea" name='volunteerPerks')
								.form-group
									label.control-label
										| Anything else you need volunteers to know?
									input.form-control(type="textarea" name='otherInfo')
								input.btn.ghost-btn(type="submit")
					//- LOG OUT
					.bhoechie-tab-content
						center
							h4
								i.fa.fa-2x.fa-power-off
							h4.paddingbottom Log Out
							p.heading Do you really want to log out?
							a.ghost-btn(href="/auth/logout") Yes, log me out!