extends layout

block content
		.bg
			.container
				.row
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.no-padding
						a.eventimg(href="/viewEvent/#{e._id}")
							img.eventimg.img-responsive(src='#{e.image}')
							a.eventimg.caption #{e.title}
					.col-lg-8.col-md-8.col-sm-8.col-xs-12.eventheader
						h1 #{e.title} on #{e.date}
						h4 #{e.startTime} to #{e.endTime}
						h4 This event currently has 
							strong #{e.volunteerIDs.length} volunteer(s) 
							| and needs 
							strong.redder #{e.volunteerQuota} more
						a.ghost-btn-red(href='/becomeVolunteer/#{e._id}') Be a Volunteer


		.container.eventbody
			.row
				.col-lg-8.col-md-8.col-sm-8.col-xs-12
					h2#wide EVENT LOCATION
					p.white #{e.location} (#{e.locationAddress})
					h2#wide VOLUNTEER PERKS
					p.white #{e.volunteerPerks}
					h2#wide PLEASE ARRIVE AT
					p.white Volunteers should arrive to set up at #{e.volunteerTime}!
					if e.otherInfo
						h2#wide OTHER INFORMATION
						p.white #{e.otherInfo}
					h2#wide WEBSITE
					a.yellow(href='#{e.url}') Official Website
				.col-lg-4.col-md-4.col-sm-4.col-xs-12
					h2#widesmall VOLUNTEERS
					for vol in e.volunteerIDs
						.row.padding-bottom
							.col-lg-4.col-md-4.col-sm-4.col-xs-4
								img.img-responsive.img-circle.profile2(src='/images/jenn.jpg')
							.col-lg-8.col-md-8.col-sm-8.col-xs-8
								p
									strong #{vol.name} <br />
									| #{vol.location}