//- - Volunteer dashboard
//-   ~ Links: Profile (Edit/View), Confirmed Events, Pending Events, View All Events (Homepage)
//-   ~ Volunteer profile (fill out information once and then use for all events)
//-   ~ Link to homepage to view and search for upcoming events
//-   ~ Section of upcoming confirmed events
//-   ~ List of pending applications
extends layout

block content
	//- Sidebar/top nav: View Profile, Confirmed Events, Pending Events, Browse Events (Homepage)
	
	//- button.btn.btn-sm(href="/user/#{user.id}") View My Profile
	button.btn.btn-sm(href="/myEvents") My Confirmed Events
	button.btn.btn-sm(href="/myPendingEvents") My Pending Events
	a.btn.btn-success(href="/") Browse All Events

	h1 My #{user.role} Dashboard
	h3 Welcome, #{user.name}!

	//- h1 My #{user.role} Dashboard

	//- Give users a link to log out of their account
	p: a(href="/auth/logout") Log out

	h4 Profile
	//- img.img-responsive(src="#{volunteer.image}")
	p Name: #{user.name}
	p About Me: #{user.bio}
	p Email Address: #{user.email}
	p Location: #{user.location}
	p Mobile: #{user.mobile}

	h4#confirmedEvents Events I'm Volunteering At
	for ev in user.confirmedEventIDs
		li
			a(href='/viewEvent/#{ev._id}') #{ev.title}